/* Suggestions.css */

.suggestions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  height: 80%;
  width: 105%;
  margin-top: 50px;
}

.suggestions-header {
  text-align: left;
  margin-left: 20px;
  width: 95%;
}

.bold-text {
  font-weight: bold;
}

.suggestions-form-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.suggestions-textarea {
  width: 1100px;
  height: 300px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  resize: none;
}

.suggestions-submit {
  font-family: 'Inter', sans-serif;
  font-size: medium;
  text-align: center;
  border-radius: 20px;

  display: flex;
  align-items: flex-end;
  margin-left: auto;

  padding: 20px;
  background-color: #18B3A7;
  color: white;
  border: none;
  cursor: pointer;
}

.suggestions-submit:hover {
  background-color: #156e63;
}
