@import 'fonts.css';

.App {
  width: 100%;
  height: 100%;
  background-color: #e1eceb;
  /*display: flex; /* Use flex to create a horizontal layout */
}

.container {
  display: flex; /* Use flex to create a horizontal layout */
  /*justify-content: center; /* Space evenly between the children */
  /*align-items: center; /* Center the content vertically */
  width: 100%; /* Take the full width of the parent */
  max-width: 1200px; /* You can adjust the maximum width as needed */
}

.Sidebar {
  height: 100%;
  width: 300px;
  background-color: #3d5654;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}
.SidebarList .row {
  width: 100%;
  height: 60px;
  /*border: 1px solid black;*/
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  /* you can change fonts here*/
}

.SidebarList #active {
  background-color: #e1eceb;
  color: black;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #e1eceb;
  color: black;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.sign-in-container {
  background-color: #e1eceb;
  min-height: 100vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /*color: white;*/
}

.sign-in-container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.buttontext{
  padding: 10px;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  align-items: center;
  margin-left: 400px;
  font-size: calc(4px + 2vmin);
  color: black;
}

.space{
  height: 20px;
}

.content {

}


.sign-in-container label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px; /* Optional: Add some margin for spacing */
}

.sign-in-container input {
  height: calc(15px + 2vmin);
  background-color: #d9d9d9;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-size: calc(1px + 2vmin);
  text-align: center;
  margin: 5px; /* Optional: Add some margin for spacing */
}

.forgotpasswordlink{
  font-family: 'Inter', sans-serif;
  align-items: center;
  margin-left: 250px;
  font-size: calc(1px + 2vmin);
  color: black;
}

.newuser {
  min-height: 100vh;
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 1.5vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttoncontainer {
  height: 61px;
  width: 262px;
  position: absolute;
  top: 2%;
  right: 2%;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.buttoncontainer .rectangle {
  background-color: #18b3a7;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  border-color: transparent;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: calc(8px + 2vmin);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0%;
}

.buttoncontainer .rectangle:hover {
  cursor: pointer;
  color: black;
}

.rectangle #text {
  flex: 80%;
}

.rectangle #icon{
  flex: 20%;
  font-size: calc(10px + 2vmin);
}

.dashboard {
  height: 100vh;
  background-color: #e1eceb;
  display: flex; /* Use flex to create a horizontal layout */
  flex-direction: column;
}

.UserProfile{
  display: flex;
  align-items: center;
  justify-content: center;
}

.UserImage {
  flex: 20%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.ProfileImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.UserInfo {
  flex: 60%;
  min-height: 5vh;
  font-family: 'Inter', sans-serif;
  position: relative;
  margin-right: 10px;
  color: white;
}

.UserInfo #email {
  font-size: 14px;
}